*venv
*.DS_Store
*.idea/
test*
*.mp3
*.pyc
*.wav
*.flac
.vscode/*
*.log
audio_test_result/
.gradio_outputs/
.gradio_output/
eval_results/
flow/
!GLM_modules/cosyvoice/flow/
!GLM_modules/cosyvoice1/flow/
GLM_modules/audios/
GLM_modules/GLM-4-Voice/audios/
GLM_modules/input_long_audios/
GLM_modules/input_wavs/
GLM_modules/output_wavs/
GLM_modules/flow_inference_o1.py
GLM_modules/flow_inference_o.py
GLM_modules/flow_inference_final.py
GLM_modules/flow_inference_cosyvoice.py
glm-4-voice-tokenizer/
gradio_outputs/
logs/
SpeechTokenizerTrainer_final/
dev_scripts/
whisper_encoder_decoder_o.py
whisper_encoder_decoder_final.py
whisper_encoder_decoder_o1.py
whisper_encoder_decoder_batch.py
*_temp.py
*_temp.sh